In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [21]:
goods_train = pd.read_table('./vp_data/vp_data/goods_train.txt',header=None)
user_action_train = pd.read_table('./vp_data/vp_data/user_action_train.txt',header=None)
user_action_test_items = pd.read_table('./vp_data/vp_data/user_action_test_items.txt',header=None)

In [28]:
goods_train.columns=['spu_id','brand_id','cat_id']
goods_train.head()

    spu_id  brand_id  cat_id
0   621837  10010304     297
1  1698431  10012546     271
2   653495  10026906    1056
3  1426380  10012968     297
4   200496  10004565    1056

In [29]:
goods_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2004581 entries, 0 to 2004580
Data columns (total 3 columns):
spu_id      int64
brand_id    int64
cat_id      int64
dtypes: int64(3)
memory usage: 45.9 MB

In [30]:
goods_train.describe()

             spu_id      brand_id        cat_id
count  2.004581e+06  2.004581e+06  2.004581e+06
mean   1.057129e+06  1.001022e+07  5.882161e+03
std    6.103043e+05  8.286315e+03  1.299341e+04
min    2.000000e+00  1.000000e+07  2.710000e+02
25%    5.287030e+05  1.000343e+07  3.110000e+02
50%    1.057017e+06  1.001021e+07  3.110000e+02
75%    1.585663e+06  1.001518e+07  1.012000e+03
max    2.114307e+06  1.002847e+07  7.579900e+04

In [20]:
len(goods_train[1].unique())  #6955 brand  49 cat

6955

In [31]:
user_action_train.columns = ['user_id','sku_id','action_type','date']
user_action_train.head()

   user_id  sku_id  action_type   date
0   522945  338312            0  03-28
1   320510  839213            0  03-10
2   314210  369282            0  01-05
3   381441  730484            0  01-05
4   168858  902515            0  03-10

In [36]:
user_action_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32538054 entries, 0 to 32538053
Data columns (total 4 columns):
user_id        int64
sku_id         int64
action_type    int64
date           object
dtypes: int64(3), object(1)
memory usage: 993.0+ MB

In [37]:
user_action_train.shape

(32538054, 4)

In [24]:
len(user_action_train[1].unique())  #user 194706

194706

In [33]:
user_buy_sum = user_action_train[['user_id','action_type']].groupby('user_id',as_index=False).sum()
user_buy_sum

        user_id  action_type
0             3            0
1             4            2
2            11            1
3            16            0
4            17            0
5            18            2
6            19            0
7            20            2
8            21            0
9            25            0
10           28            1
11           29            0
12           30            2
13           33            1
14           34            3
15           35            0
16           36            0
17           37            1
18           38            1
19           44            0
20           47            2
21           48            2
22           51            4
23           60            1
24           67            3
25           73            0
26           75            0
27           76            0
28           79            1
29           95            0
...         ...          ...
194676   649876            1
194677   649879            0
194678   649882            0
194679   649883            2
194680   649888            1
194681   649891           11
194682   649895            0
194683   649896           15
194684   649904            1
194685   649916            0
194686   649918            0
194687   649919            0
194688   649922            0
194689   649929            1
194690   649934            0
194691   649939            0
194692   649941            0
194693   649942            0
194694   649948            4
194695   649959            0
194696   649963            1
194697   649980           10
194698   649981            0
194699   649985            3
194700   649987            0
194701   649988            6
194702   649989            1
194703   649990            4
194704   649992            2
194705   649997            8

[194706 rows x 2 columns]

In [34]:
user_buy_sum.describe()

             user_id    action_type
count  194706.000000  194706.000000
mean   325224.608065       1.719094
std    187620.029896       3.563851
min         3.000000       0.000000
25%    162740.750000       0.000000
50%    325238.000000       0.000000
75%    487585.750000       2.000000
max    649997.000000     166.000000

In [39]:
user_action_train[user_action_train['action_type'] == 1].shape   #334718 个正数据

(334718, 4)